<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="background: #F6F6F6;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="padding-right: 18px;padding-left: 18px;">
        <div class="container px-0"><a class="navbar-brand d-flex" href="/en"><img src="/img/logo.svg"></a>
            <ul class="navbar-nav flex-row">
                <li class="nav-item" style="width: 30px;height: 30px;"><a class="nav-link d-flex justify-content-center align-items-center" href="/firstStep" style="font-family: Poppins; font-style: normal; font-weight: bold; font-size: 18px; line-height: 97%;width: 30px;height: 30px;padding: 0px;color:#A8A6A6;">LV</a></li>
                <li class="nav-item" style="width: 30px;height: 30px;"><a class="nav-link active d-flex justify-content-center align-items-center" href="/firstStep/en" style="font-family: Poppins; color:#000000;font-style: normal; font-weight: bold; font-size: 18px; line-height: 97%;width: 30px;height: 30px;padding: 0px;">EN</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" style="padding: 0px 18px;padding-top: 44px;">
        <div class="row d-lg-flex align-items-lg-center" style="margin-right: 0;margin-left: 0;">
            <div class="col col-12 col-sm-12 col-lg-5" style="padding-right: 0;padding-left: 0;">
                <div style="margin-bottom: 20px; text-align:center;"><img src="/img/kruze.png" style="height: 80%;width: 80%;"></div>
            </div>
            <div class="col col-12 col-sm-12 col-lg-7 order-lg-first" style="padding-right: 0;padding-left: 0;">
                <h1 style="font-size: 36px;letter-spacing: -0.035em;font-weight: 700;text-align: center;font-style: normal;font-family: Poppins;color: rgb(74,74,74);margin-bottom: 0px;">First step: make coffee<br></h1>
                <p style="font-family: Poppins;font-weight: normal;font-style: normal;font-size: 20px;color: rgb(0,0,0);text-align: center;line-height: 121%;letter-spacing: -0.01em;margin-left: 18px;margin-right: 18px;margin-top: 20px;margin-bottom: 20px;">Coffee. One of the most important components of a computer science student is coffee. Coffee with milk, black coffee, espresso, or whatever coffee a person can imagine there, a computer comes to life and is able to give new inspiration to the next act. And I'm no exception. Coffee is also part of my day. And that is the first thing on the road today that I will tell you about. So I'll tell you how I make my coffee.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 style="font-size: 24px;letter-spacing: -0.035em;font-weight: 700;text-align: center;font-style: normal;font-family: Poppins;color: #4A4A4A;margin-bottom: 0px;line-height: 97%;margin-top: 20px;">Needed ingredients<br></h2>
            </div>
        </div>
        <div class="row" style="margin-right: 0;margin-left: 0;">
            <div class="col col-12 col-sm-12 col-md-6 col-xxl-3" style="padding-right: 0;padding-left: 0;">
                <div style="width: 284px;height: 354px;color: rgb(33, 37, 41);background: #e7e7e7;box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.25);border-radius: 20px;margin: 0 auto;margin-top: 20px;margin-bottom: 20px;">
                    <div class="text-center d-flex justify-content-center align-items-center" style="height: 225px;"><img src="/img/milkbottle.svg" style="padding-top: 0px;padding-bottom: 0px;"></div>
                    <h2 style="font-family: Poppins;font-style: normal;font-weight: bold;font-size: 24px;line-height: 97%;align-items: center;text-align: center;letter-spacing: -0.035em;color: #4A4A4A;margin-bottom: 20px;">Milk<br></h2>
                    <p class="text-center" style="padding-right: 0px;padding-left: 0px;font-family: Poppins, sans-serif;font-weight: 400;font-size: 16px;line-height: 121%;letter-spacing: -0.01em;color: #000000;padding-top: 0px;margin-right: 20px;margin-left: 20px;margin-bottom: 0px;">Although you could drink coffee without milk, this time I will allow you to use milk in your recipe.<br></p>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-xxl-3" style="padding-right: 0;padding-left: 0;">
                <div style="width: 284px;height: 354px;color: rgb(33, 37, 41);background: #e7e7e7;box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.25);border-radius: 20px;margin: 0 auto;margin-top: 20px;margin-bottom: 20px;">
                    <div class="text-center d-flex justify-content-center align-items-center" style="height: 225px;"><img src="/img/sugar.svg" style="margin-top: 0px;margin-bottom: 0px;"></div>
                    <h2 style="font-family: Poppins;font-style: normal;font-weight: bold;font-size: 24px;line-height: 97%;align-items: center;text-align: center;letter-spacing: -0.035em;color: #4A4A4A;margin-bottom: 20px;">Sugar<br></h2>
                    <p class="text-center" style="padding-right: 0px;padding-left: 0px;font-family: Poppins, sans-serif;font-weight: 400;font-size: 16px;line-height: 121%;letter-spacing: -0.01em;color: #000000;padding-top: 0px;margin-right: 20px;margin-left: 20px;margin-bottom: 0px;">No sugar either. A sweeter life requires two cubes of sugar.<br></p>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-xxl-3" style="padding-right: 0;padding-left: 0;">
                <div style="width: 284px;height: 354px;color: rgb(33, 37, 41);background: #e7e7e7;box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.25);border-radius: 20px;margin: 0 auto;margin-top: 20px;margin-bottom: 20px;">
                    <div class="text-center d-flex justify-content-center align-items-center" style="height: 225px;"><img src="/img/water.svg" style="margin-top: 0px;margin-bottom: 0px;"></div>
                    <h2 style="font-family: Poppins;font-style: normal;font-weight: bold;font-size: 24px;line-height: 97%;align-items: center;text-align: center;letter-spacing: -0.035em;color: #4A4A4A;margin-bottom: 20px;">Water<br></h2>
                    <p class="text-center" style="padding-right: 0px;padding-left: 0px;font-family: Poppins, sans-serif;font-weight: 400;font-size: 16px;line-height: 121%;letter-spacing: -0.01em;color: #000000;padding-top: 0px;margin-right: 20px;margin-left: 20px;margin-bottom: 0px;">Also with the water that mixes all this coffee magic together. Without it, no way.<br></p>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-xxl-3" style="padding-right: 0;padding-left: 0;">
                <div style="width: 284px;height: 354px;color: rgb(33, 37, 41);background: #e7e7e7;box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.25);border-radius: 20px;margin: 0 auto;margin-top: 20px;margin-bottom: 20px;">
                    <div class="text-center d-flex justify-content-center align-items-center" style="height: 225px;"><img src="/img/coffee.png"></div>
                    <h2 style="font-family: Poppins;font-style: normal;font-weight: bold;font-size: 24px;line-height: 97%;align-items: center;text-align: center;letter-spacing: -0.035em;color: #4A4A4A;margin-bottom: 20px;">Coffee<br></h2>
                    <p class="text-center" style="padding-right: 0px;padding-left: 0px;font-family: Poppins, sans-serif;font-weight: 400;font-size: 16px;line-height: 121%;letter-spacing: -0.01em;color: #000000;padding-top: 0px;margin-right: 20px;margin-left: 20px;margin-bottom: 0px;">Without this ingredient, we could hardly call it coffee.<br></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 style="font-size: 24px;letter-spacing: -0.035em;font-weight: 700;text-align: center;font-style: normal;font-family: Poppins;color: #4A4A4A;margin-bottom: 20px;line-height: 97%;">Preparation:<br></h2>
                <p style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 20px;line-height: 121%;letter-spacing: -0.01em;color: #000000;align-items: center;text-align: center;margin-bottom: 20px;">1) We take a mug, pour 2 teaspoons of coffee into it.<br></p>
                <p style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 20px;line-height: 121%;letter-spacing: -0.01em;color: #000000;align-items: center;text-align: center;margin-bottom: 20px;">2) Bring water to a boil, add 2 cubes of sugar to a cup.<br></p>
                <p style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 20px;line-height: 121%;letter-spacing: -0.01em;color: #000000;align-items: center;text-align: center;margin-bottom: 20px;">3) When the water has boiled, pour it so that it occupies 3/4 of the cup.<br></p>
                <p style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 20px;line-height: 121%;letter-spacing: -0.01em;color: #000000;align-items: center;text-align: center;margin-bottom: 20px;">4) Add milk to the remaining 1/4 of the cup.<br></p>
                <p style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 20px;line-height: 121%;letter-spacing: -0.01em;color: #000000;align-items: center;text-align: center;margin-bottom: 20px;">5) Coffee ready! Enjoy it!<br></p>
                <div class="text-center"><a href="/secondStep/en" class="btn" type="button" >Continue</a></div>
            </div>
        </div>
    </div>
    <footer>
        <p style="font-family: Poppins, sans-serif;font-size: 8px;color: rgb(153,165,177);text-align: center;">&copy Uldis Jansons, uj18005</p>
    </footer>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>