<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>design</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="background: #F6F6F6;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="padding-right: 18px;padding-left: 18px;">
        <div class="container px-0"><a class="navbar-brand d-flex" href="/en"><img src="/img/logo.svg"></a>
            <ul class="navbar-nav flex-row">
                <li class="nav-item" style="width: 30px;height: 30px;"><a class="nav-link d-flex justify-content-center align-items-center" href="/fourthStep" style="font-family: Poppins; font-style: normal; font-weight: bold; font-size: 18px; line-height: 97%;width: 30px;height: 30px;padding: 0px;color:#A8A6A6;">LV</a></li>
                <li class="nav-item" style="width: 30px;height: 30px;"><a class="nav-link active  d-flex justify-content-center align-items-center" href="/fourthStep/en" style="font-family: Poppins; color:#000000;font-style: normal; font-weight: bold; font-size: 18px; line-height: 97%;width: 30px;height: 30px;padding: 0px;">EN</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" style="padding: 0px 18px;padding-top: 44px;">
        <div class="row d-lg-flex align-items-lg-center" style="margin-right: 0;margin-left: 0;">
            <div class="col col-12 col-sm-12 col-lg-5" style=" margin-bottom: 20px;padding-right: 0;padding-left: 0;">
                <div style="text-align: center;"><img style="height: 80%;width: 80%" src="/img/zime.png"></div>
            </div>
            <div class="col col-12 col-sm-12 col-lg-7" style="padding-right: 0;padding-left: 0;">
                <h1 style="font-size: 36px;letter-spacing: -0.035em;font-weight: 700;text-align: center;font-style: normal;font-family: Poppins;color: rgb(74,74,74);margin-bottom: 0px;">Step four: Go to the stop<br></h1>
                <p style="font-family: Poppins;font-weight: normal;font-style: normal;font-size: 20px;color: rgb(0,0,0);text-align: center;line-height: 121%;letter-spacing: -0.01em;margin-left: 18px;margin-right: 18px;margin-top: 20px;margin-bottom: 20px;">I'm dressed, now I can go to the stop, where I will go on the 15th trolleybus to the university. <br> <br> Yes, the 15th trolleybus surrounded by legends and songs. <br> <br> If at first it seemed to me that nothing like that was there, the song only mentions it, because the words sound good, then getting on and driving with it day by day gave a different impression and realization that the 15th trolleybus really seems legendary. <br> <br> But now I'll tell you my usual routine as I went with these 15 trolleybuses.<br></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 style="font-size: 24px;letter-spacing: -0.035em;font-weight: 700;text-align: center;font-style: normal;font-family: Poppins;color: #4A4A4A;margin-bottom: 20px;line-height: 97%;margin-top: 20px;">Instruction<br></h2>
                <p style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 20px;line-height: 121%;letter-spacing: -0.01em;color: #000000;align-items: center;text-align: center;margin-bottom: 20px;">1) Try to get inside the trolleybus because there were so many people in the "herring barrel"<br></p>
                <p style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 20px;line-height: 121%;letter-spacing: -0.01em;color: #000000;align-items: center;text-align: center;margin-bottom: 20px;">2) Try to beep the e-ticket so that you do not have discussions with the controllers afterwards.<br></p>
                <p style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 20px;line-height: 121%;letter-spacing: -0.01em;color: #000000;align-items: center;text-align: center;margin-bottom: 20px;">3) If there are not so many people, try to go to the place where the additional part of the trolleybus is connected to the first part of the trolleybus.<br></p>
                <p style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 20px;line-height: 121%;letter-spacing: -0.01em;color: #000000;align-items: center;text-align: center;margin-bottom: 20px;">4) You can forget about sitting in a bench, because there is simply no room.<br></p>
                <p style="font-family: Poppins;font-style: normal;font-weight: normal;font-size: 20px;line-height: 121%;letter-spacing: -0.01em;color: #000000;align-items: center;text-align: center;margin-bottom: 20px;">5) We arrive at the stop of the University of Latvia and happily breathe that we are outside.<br></p>
                <div class="text-center"><a href="/fifthStep/en" class="btn" type="button" >Continue</a></div>
            </div>
        </div>
    </div>
    <footer>
        <p style="font-family: Poppins, sans-serif;font-size: 8px;color: rgb(153,165,177);text-align: center;">&copy Uldis Jansons, uj18005</p>
    </footer>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>