<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="background: #F6F6F6;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="padding-right: 18px;padding-left: 18px;">
        <div class="container px-0"><a class="navbar-brand d-flex" href="/en"><img src="/img/logo.svg"></a>
            <ul class="navbar-nav flex-row">
                <li class="nav-item" style="width: 30px;height: 30px;"><a class="nav-link d-flex justify-content-center align-items-center" href="/sixthStep" style="font-family: Poppins; font-style: normal; font-weight: bold; font-size: 18px; line-height: 97%;width: 30px;height: 30px;padding: 0px;color:#A8A6A6;">LV</a></li>
                <li class="nav-item" style="width: 30px;height: 30px;"><a class="nav-link active d-flex justify-content-center align-items-center" href="sixthStep/en" style="font-family: Poppins; color:#000000;font-style: normal; font-weight: bold; font-size: 18px; line-height: 97%;width: 30px;height: 30px;padding: 0px;">EN</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" style="padding: 0px 18px;padding-top: 44px;">
        <div class="row d-xl-flex align-items-xl-center" style="margin-right: 0;margin-left: 0;">
            <div class="col col-12 col-sm-12 col-lg-5" style="padding-right: 0;padding-left: 0;">
                <div class="text-center" style="margin-bottom: 20px;"><img src="/img/virus.png" style="width: 60%;height: 60%;"></div>
            </div>
            <div class="col col-12 col-sm-12 col-lg-7" style="padding-right: 0;padding-left: 0;">
                <h1 style="font-size: 36px;letter-spacing: -0.035em;font-weight: 700;text-align: center;font-style: normal;font-family: Poppins;color: rgb(74,74,74);margin-bottom: 0px;">Emergency situation<br></h1>
                <p style="font-family: Poppins;font-weight: normal;font-style: normal;font-size: 20px;color: rgb(0,0,0);text-align: center;line-height: 121%;letter-spacing: -0.01em;margin-left: 18px;margin-right: 18px;margin-top: 20px;margin-bottom: 20px;">Unfortunately, as of March 13, 2020, I have not seen the university premises. It's all because of one virus. <br> <br> As many of us know, a state of emergency has been declared in the country and various things that are happening in person have been stopped. Theaters, restaurants and sports clubs. <br> <br> Everything, everything was stopped. <br> <br> But the university's lecturers and technical staff quickly resolved this situation so that we could fully learn remotely. So now my journey from home to university is very different. You could say that this is the way from home to home, because I will not go anywhere.<br></p>
            </div>
        </div>
        <div class="row d-xl-flex align-items-xl-center" style="margin-right: 0;margin-left: 0;">
            <div class="col col-12 col-sm-12 col-lg-5" style="padding-right: 0;padding-left: 0;margin-bottom: 20px;">
                <div class="text-center"><img src="/img/pcen.png" style="width: 60%;height: 60%;"></div>
            </div>
            <div class="col col-12 col-sm-12 col-lg-7 order-lg-first" style="padding-right: 0;padding-left: 0;">
                <h2 style="font-size: 24px;letter-spacing: -0.035em;font-weight: 700;text-align: center;font-style: normal;font-family: Poppins;color: #4A4A4A;margin-bottom: 20px;line-height: 97%;margin-top: 20px;">The changed path<br></h2>
                <p style="font-family: Poppins;font-weight: normal;font-style: normal;font-size: 20px;color: rgb(0,0,0);text-align: center;line-height: 121%;letter-spacing: -0.01em;margin-left: 18px;margin-right: 18px;margin-top: 20px;margin-bottom: 20px;">Now there is only one step on my way - turn on the computer and connect to the lecture. <br> <br> Now that everything happens remotely, I can save my time, I don't have to go to university physically, but there are some disadvantages. <br> <br> You have to overcome yourself, because instead of lecturing you can choose to sleep or do something else. But the plus is that the lectures are recorded in many places, so you can repeat what the lectures say.<br></p>
                <div class="text-center"><a href="/en" class="btn" type="button" >Go to start</a></div>
            </div>
        </div>
    </div>
    <footer>
        <p style="font-family: Poppins, sans-serif;font-size: 8px;color: rgb(153,165,177);text-align: center;">&copy Uldis Jansons, uj18005</p>
    </footer>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>